@font-face {
    font-family: "Guardian-EgypTT";
    src: url("../../static/fonts/StagCyr-Light-Web.woff2?v=220104") format("woff2"), url("../../static/fonts/Guardian-EgypTT-Light.woff?v=220104") format("woff");
    font-style: normal;
    font-weight: 300;
    font-stretch: normal;
    font-display: swap;
    unicode-range: U+400-4FF;
    ascent-override: 96%;
    descent-override: 23%
}

@font-face {
    font-family: "Guardian-EgypTT";
    src: url("../../static/fonts/Guardian-EgypTT-Light.woff2?v=220104") format("woff2"), url("../../static/fonts/StagCyr-Light-Web.woff?v=220104") format("woff");
    font-style: normal;
    font-weight: 300;
    font-stretch: normal;
    font-display: swap;
    ascent-override: 96%;
    descent-override: 23%
}

@font-face {
    font-family: "Graphik Webfont";
    src: url("../../static/fonts/GraphikCyr-Regular-Web.woff2?v=220104") format("woff2"), url("../../static/fonts/GraphikCyr-Regular-Web.woff?v=220104") format("woff");
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    font-display: swap;
    unicode-range: U+400-4FF;
    ascent-override: 92%;
    descent-override: 22%
}

@font-face {
    font-family: "Graphik Webfont";
    src: url("../../static/fonts/GraphikCyr-Medium-Web.woff2?v=220104") format("woff2"), url("../../static/fonts/GraphikCyr-Medium-Web.woff?v=220104") format("woff");
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    font-display: swap;
    unicode-range: U+400-4FF;
    ascent-override: 92%;
    descent-override: 22%
}

@font-face {
    font-family: "Graphik Webfont";
    src: url("../../static/fonts/GraphikCyr-Medium-Web.woff2?v=220104") format("woff2"), url("../../static/fonts/GraphikCyr-Medium-Web.woff?v=220104") format("woff");
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    font-display: swap;
    unicode-range: U+400-4FF;
    ascent-override: 92%;
    descent-override: 22%
}

@font-face {
    font-family: "Graphik Webfont";
    src: url("../../static/fonts/Graphik-Regular-Web.woff2?v=220104") format("woff2"), url("../../static/fonts/Graphik-Regular-Web.woff?v=220104") format("woff");
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    font-display: swap;
    ascent-override: 92%;
    descent-override: 22%
}

@font-face {
    font-family: "Graphik Webfont";
    src: url("../../static/fonts/Graphik-Medium-Web.woff2?v=220104") format("woff2"), url("../../static/fonts/Graphik-Medium-Web.woff?v=220104") format("woff");
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    font-display: swap;
    ascent-override: 92%;
    descent-override: 22%
}

@font-face {
    font-family: "Graphik Webfont";
    src: url("../../static/fonts/Graphik-Medium-Web.woff2?v=220104") format("woff2"), url("../../static/fonts/Graphik-Medium-Web.woff?v=220104") format("woff");
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    font-display: swap;
    ascent-override: 92%;
    descent-override: 22%
}