@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800&display=swap');

@font-face {
  font-family: "Guardian-EgypTT";
  src: url("../../static/fonts/StagCyr-Light-Web.woff2?v=220104") format("woff2"), url("../../static/fonts/Guardian-EgypTT-Light.woff?v=220104") format("woff");
  font-style: normal;
  font-weight: 300;
  font-stretch: normal;
  font-display: swap;
  unicode-range: U+400-4FF;
  ascent-override: 96%;
  descent-override: 23%
}

@font-face {
  font-family: "Guardian-EgypTT";
  src: url("../../static/fonts/Guardian-EgypTT-Light.woff2?v=220104") format("woff2"), url("../../static/fonts/StagCyr-Light-Web.woff?v=220104") format("woff");
  font-style: normal;
  font-weight: 300;
  font-stretch: normal;
  font-display: swap;
  ascent-override: 96%;
  descent-override: 23%
}

@font-face {
  font-family: "Graphik Webfont";
  src: url("../../static/fonts/GraphikCyr-Regular-Web.woff2?v=220104") format("woff2"), url("../../static/fonts/GraphikCyr-Regular-Web.woff?v=220104") format("woff");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
  unicode-range: U+400-4FF;
  ascent-override: 92%;
  descent-override: 22%
}

@font-face {
  font-family: "Graphik Webfont";
  src: url("../../static/fonts/GraphikCyr-Medium-Web.woff2?v=220104") format("woff2"), url("../../static/fonts/GraphikCyr-Medium-Web.woff?v=220104") format("woff");
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
  unicode-range: U+400-4FF;
  ascent-override: 92%;
  descent-override: 22%
}

@font-face {
  font-family: "Graphik Webfont";
  src: url("../../static/fonts/GraphikCyr-Medium-Web.woff2?v=220104") format("woff2"), url("../../static/fonts/GraphikCyr-Medium-Web.woff?v=220104") format("woff");
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
  unicode-range: U+400-4FF;
  ascent-override: 92%;
  descent-override: 22%
}

@font-face {
  font-family: "Graphik Webfont";
  src: url("../../static/fonts/Graphik-Regular-Web.woff2?v=220104") format("woff2"), url("../../static/fonts/Graphik-Regular-Web.woff?v=220104") format("woff");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
  ascent-override: 92%;
  descent-override: 22%
}

@font-face {
  font-family: "Graphik Webfont";
  src: url("../../static/fonts/Graphik-Medium-Web.woff2?v=220104") format("woff2"), url("../../static/fonts/Graphik-Medium-Web.woff?v=220104") format("woff");
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
  ascent-override: 92%;
  descent-override: 22%
}

@font-face {
  font-family: "Graphik Webfont";
  src: url("../../static/fonts/Graphik-Medium-Web.woff2?v=220104") format("woff2"), url("../../static/fonts/Graphik-Medium-Web.woff?v=220104") format("woff");
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
  ascent-override: 92%;
  descent-override: 22%
}

[dir="rtl"] body {
  font-family: 'Cairo', sans-serif !important;
}

body {
  font-family: "Graphik Webfont", -apple-system, "Helvetica Neue", "Droid Sans", Arial, sans-serif;
}

.guard-cairo-font {
  font-family: "Guardian-EgypTT", Charter, "Charter Bitstream", Cambria, "Noto Serif Light", "Droid Serif", Georgia, serif;
}

[dir="rtl"] .guard-cairo-font {
  font-family: 'Cairo', sans-serif;
}

.text-gr {
  color: #595959
}

.text-bl {
  color: #222
}

.text-red {
  color: #a61a2e;
}

.bg-orange {
  background-color: #faa077;
}

.links-hover {
  position: relative;
  text-decoration: none;
}

.links-hover::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 1.5px;
  border-radius: 4px;
  background-color: var() #000;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
}

.links-hover:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

.text-md {
  font-size: 13px;
}

@media (min-width:0px) and (max-width:768px) {
  .align-center {
    text-align: center;
  }
}

​[dir='rtl'] svg.translate {
  transform: rotateY(180deg);
}

[dir='rtl'] .icon.translate {
  transform: rotateY(180deg);
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.small-container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.footer-container {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}

.box-shadow {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.box-shadow-hover {
  transition: .2s ease;
}

.box-shadow-hover:hover {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.box-shadow-x {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.box-shadow-x-hover {
  transition: .5s ease;
}

.box-shadow-x-hover:hover {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.box-shadow-xs {
  box-shadow: 0 2px 18px rgb(34 34 34 / 20%);
}

.box-shadow-xs-hover {
  transition: .5s ease;
}

.box-shadow-xs-hover:hover {
  box-shadow: 0 2px 18px rgb(34 34 34 / 20%);
}

.text-md {
  font-size: 13px;
}

.scale {
  transition: .1s ease;
}

.scale:hover {
  transform: scale(1.01);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.max_container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.pb-1\/2 {
  padding-bottom: 50%;
}

.pb-2\/3 {
  padding-bottom: 75%;
}

.pb-3\/5 {
  padding-bottom: 60%;
}

.pb-4\/7 {
  padding-bottom: 70%;
}

.pb-4\/5 {
  padding-bottom: 80%;
}

.pb-5\/6 {
  padding-bottom: 85%;
}

.pb-full {
  padding-bottom: 100%;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* Titles */
h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.17em;
}

h4 {
  font-size: 1em;
}

h5 {
  font-size: .83em;
}

h6 {
  font-size: .67em;
}

.two-lines {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  min-height: 2.8em;
}

body {
  color: #333;
}

/* Toast */
.toast {
  position: fixed;
  display: flex;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white !important;
  box-shadow: 0 5px 10px 0px #00000044;
  border-radius: 5px;
  padding: 10px 20px;
  z-index: 99999999;
  align-items: center;
}

.toast-progress {
  width: 0%;
  height: 2px;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: .5s;
  animation: widthToZero 4s linear;
}

.toast-message {
  margin: 5px;
}

.toast.error .toast-progress {
  background-color: #fc100d;
}

.toast.success .toast-progress {
  background-color: var(--primary-color);
}

.toast.error svg {
  fill: #fc100d;
}

.toast.success svg {
  fill: var(--primary-color);
}

.toast-close {
  position: absolute;
  top: -10px;
  right: -10px;
  width: 22px;
  text-align: center;
  background: white;
  border-radius: 5px;
  box-shadow: -1px 2px 5px 0 #00000044;
  cursor: pointer;
}

.toast-fade-in {
  animation: fadeInUp 0.5s ease-in-out;
}

.toast-fade-out {
  animation: fadeOutDown 0.5s ease-in-out;
}

@keyframes fadeInUp {
  from {
    transform: translate(-50%, 50%);
    opacity: 0;
  }

  to {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
}

@keyframes fadeOutDown {
  from {
    transform: translate(-50%, -50%);
    opacity: 1;
  }

  to {
    transform: translate(-50%, 50%);
    opacity: 0;
  }
}

@keyframes widthToZero {
  from {
    width: 100%;
  }

  to {
    width: 0%;
  }
}

.click-effect {
  position: relative;
  overflow: hidden;
}

.click-effect::before {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  padding: 50%;
  border-radius: 50%;
  background-color: #fff;
  content: '';
  transition: transform 1s, opacity 1s;
}

.click-effect:active::before {
  opacity: 1;
  transform: translate(-50%, -50%) scale(0);
  transition: 0s;
}

.click-effect::after {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  padding: 50%;
  border-radius: 50%;
  background-color: #fff;
  content: '';
  transition: transform 2s, opacity 2s;
}

.click-effect:active::after {
  opacity: 1;
  transform: translate(-50%, -50%) scale(0);
  transition: 0s;
}

.slide-enter-active {
  transition-duration: 0.3s;
  transition-timing-function: ease-in;
}

.slide-leave-active {
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.slide-enter-to,
.slide-leave {
  max-height: 100px;
  overflow: hidden;
}

.slide-enter,
.slide-leave-to {
  overflow: hidden;
  max-height: 0;
}